th {
	font-size: 30px;
	color: black;
	font-family: Arial, serif;
}

table {
	border: 2px solid;
	margin-top: 2%;
	margin-left: 2%;
}

th {
	border: 1px solid blue;
}

body {
	background-image: url("img\\background.jpg");
}